body {
    background: url(Images/train.jpg) no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5em;
}

.imm {
  margin: 0 auto;
  width: 1170px;
}

.imm ul{
  margin: 0;
  padding: 150px 0 0;
  list-style: none;
  text-align: right;
}

.imm ul li{
  float: none;
  display: inline-block;
}

.imm ul li:nth-child(1){float: left;}
.imm ul li:nth-child(2){float: left;}


.imm ul li a{color: slategray;
font-size: 20px;
text-transform: uppercase;
text-decoration: none;
display: block;
padding: 10px 20px;
color: black;

}

.imm ul li a:hover{
  color:darkgreen;
}

#mm {
  width: 100%;
  position: relative;
}

.la {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
  text-align: center;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}

h4 {
    text-align: center;
    color: purple;
}
 h1 img {
    width: 25px;
    height: 25px;
 }

img {
    width: 350px;
    height: 350px;
}

p {
    color: white;
    text-align: center;
}

 .flex {
    display: flex;
    justify-content: center;
    align-content: center;
 }

 .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding: 10px;
    grid-template-rows: auto auto;
  }

  .grid-container-ent {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding: 10px;
    grid-template-rows: auto;
  }

  .grid-item {

    border: 1px solid;
    padding: 20px;
    text-align: center;
    background-color: lavender;
  }

  nav a{
    color: white;
  }

  nav a:hover {
    color:blueviolet;
    text-decoration: underline;
  }

  .grid-item2 {

    border: 1px solid;
    padding: 20px;
    text-align: center;
    background-color: lavender;
    font-size: xx-large;
  }